.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 70px;
  background-color: var(--black);
}

.navbar-logo {
  color: var(--red);
  font-size: 32px;
  font-weight: 900;
}
