.favorite-button {
  background-color: var(--red);
  border-color: transparent;
  min-width: 120px;
  min-height: 30px;
  color: var(--white);
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  margin-right: 15px;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 4px;
}

.favorited {
  background-color: var(--black);
  border-color: var(--red);
}
